absl-py==2.1.0
adagio==0.2.4
aiohttp==3.8.4
aiosignal==1.3.1
antlr4-python3-runtime==4.11.1
anyio==4.0.0
appdirs==1.4.4
arch==6.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.1.0
aws-lambda-powertools==1.25.5
aws-xray-sdk==2.12.1
Babel==2.13.1
backtrader==1.9.78.123
beautifulsoup4==4.12.2
bidict==0.22.1
bleach==6.1.0
blinker==1.7.0
boto3==1.28.75
botocore==1.31.75
bs4==0.0.1
certifi==2022.12.7
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.1
clarabel==0.6.0
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.1.4
contourpy==1.2.0
cvxpy==1.4.1
cycler==0.12.1
Cython==3.0.9
DateTime==5.2
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
docutils==0.20.1
ecos==2.0.12
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.18.1
Flask==3.0.0
flatbuffers==24.3.25
fonttools==4.46.0
fqdn==1.5.1
frozendict==2.3.10
frozenlist==1.4.0
fs==2.4.16
fsspec==2024.3.0
fugue==0.8.7
fugue-sql-antlr==0.2.0
fyers-apiv3==3.0.5
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
html5lib==1.1
huepy==1.2.1
idna==2.10
importlib-metadata==7.0.1
ipykernel==6.26.0
ipython==8.17.2
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jedi==0.19.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.5.0
jupyter_core==5.5.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
keras==3.1.1
keyring==24.3.0
kiwisolver==1.4.5
libclang==18.1.1
llvmlite==0.42.0
lxml==4.9.3
lz4==3.1.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplot==0.1.9
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==10.1.0
MouseInfo==0.1.3
multidict==6.0.4
multitasking==0.0.11
myhdl==0.11.45
namex==0.0.7
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.5.8
nh3==0.2.15
notebook==7.0.6
notebook_shim==0.2.3
numba==0.59.0
numpy==1.24.2
numspy==1.0
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
osqp==0.6.3
outcome==1.3.0.post0
overrides==7.4.0
packaging==23.2
pandas==2.0.0
pandas-datareader==0.10.0
pandas-ta==0.3.14b0
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.4
peewee==3.17.0
Pillow==10.1.0
pkginfo==1.9.6
platformdirs==3.11.0
pmdarima==2.0.4
prometheus-client==0.18.0
prompt-toolkit==3.0.39
protobuf==4.25.3
psutil==5.9.6
punq==0.7.0
pure-eval==0.2.2
pyarrow==15.0.1
PyAutoGUI==0.9.54
pybind11==2.11.1
pycparser==2.21
PyGetWindow==0.0.9
Pygments==2.16.1
pyjsparser==2.7.1
PyJWT==2.6.0
pyloco==0.0.139
PyMsgBox==1.0.9
pyotp==2.9.0
pyparsing==3.1.1
PyPDF2==3.0.1
pyperclip==1.8.2
pyportfolioopt==1.5.5
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
pytube==15.0.0
pytweening==1.0.7
pytz==2023.3.post1
pywhatkit==5.4
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.1
qdldl==0.1.7.post0
qpd==0.4.4
qtconsole==5.4.4
QtPy==2.4.1
readme-renderer==42.0
referencing==0.30.2
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.10.6
s3transfer==0.7.0
scikit-learn==1.4.1.post1
scipy==1.11.4
scs==3.2.4.post1
seaborn==0.13.2
selenium==4.16.0
Send2Trash==1.8.2
SimpleWebSocketServer==0.1.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sqlglot==22.5.0
stack-data==0.6.3
statsforecast==1.7.3
statsmodels==0.14.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.17.1
threadpoolctl==3.3.0
tinycss2==1.2.1
tornado==6.3.3
tqdm==4.66.2
traitlets==5.13.0
triad==0.9.5
trio==0.23.2
trio-websocket==0.11.1
truedata-ws==5.0.11
twine==4.0.2
types-python-dateutil==2.8.19.14
typing==3.7.4.3
typing_extensions==4.11.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.14
ushlex==0.99.1
utilsforecast==0.1.1
wcwidth==0.2.9
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
websockets==8.1
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wikipedia==1.4.0
wrapt==1.15.0
wsproto==1.2.0
XlsxWriter==3.2.0
yarl==1.9.2
yfinance==0.2.33
zipp==3.17.0
zope.interface==6.1
